body{
    background-color: rgb(165 180 252);
}




.divs:hover{
    background-color: rgb(147 197 253);
}

.claseA{
    text-decoration: none;
    text-decoration: black;
}

.color{
    background-color: rgb(165 180 252);
  
}

.color2{
    background-color: chocolate;
}
